{% extends 'start/index.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="" class="list-group-item list-group-item-action active" data-target="#profile" data-toggle="tab">Passwort 채ndern</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" >
                                <h4>Profil von {{ app.user.username }}</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group row">
                                    </div>
                                    <div id ="errorpw" class="alert alert-danger" style="display:none; ">Ein Fehler ist aufgetreten</div>
                                    <div id ="successpw" class="alert alert-success" style="display:none; ">Passwort wurde erfolgreich ge채ndert</div>

                                    <div class="form-group row">
                                        <label for="oldPW" class="col-4 col-form-label">Altes Passwort</label>
                                        <div class="col-8">
                                            <input class="form-control" type="password" name="oldPW" id="oldPW">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="newPW" class="col-4 col-form-label">Neues Passwort</label>
                                        <div class="col-8">
                                            <input class="form-control" type="password" name="newPW" id="newPW">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="newPWConfirm" class="col-4 col-form-label">Neues Passwort best채tigen</label>
                                        <div class="col-8">
                                            <input class="form-control" type="password" name="newPWConfirm" id="newPWConfirm">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="offset-4 col-8">
                                            <input type="button" id="password-submit" class="btn btn-primary" value="Passwort 채ndern">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}