{% block navbar %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Shopware Knowledgebase</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/tag">Tags</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/entry">Einträge <span class="sr-only">(current)</span></a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            <li class="nav-item active">
                <a class="nav-link" href="/entry/new">Neuer Eintrag <span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
        </ul>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hallo, {% if app.user %}
                        {{ app.user.username }}
                    {% endif %}            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('profile_index') }}">Mein Profil</a>
                    <a class="dropdown-item" href="{{ path('entry_new') }}">Eintrag erstellen</a>
                    <a class="dropdown-item" href="/logout">Logout</a>

                </div>
            </div>            {% else %}
                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-success">Login</button>
        {% endif %}

    </div>
</nav>
<header class="bg-primary text-white">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="/search" method="get">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Suche nach Tags, Keywörtern oder Produkten ..." name="search">
                        </div>
                        <!--end of col-->

                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>
</header>


    {% if app.user is empty %}

    <!-- Modal for Login -->
    <div id="id01" class="modal">
        <form class="modal-content animate" action="/login" method="post">
            <form method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="/assets/img/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <div id ="error" class="alert alert-danger" style="display:none; ">Falsche Zugangsdaten - prüfe bitte den Benutzernamen und dein Passwort!</div>
                <label for="username"><b>Username</b></label>
                <input type="text" value="" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

                <label for="password"><b>Password</b></label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

                <a id="login-submit" class="btn btn-primary btn-block">Einloggen</a>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >


            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Abbrechen</button>
                <span class="psw">Passwort vergessen? Wende dich an André oder Janine!</span>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}