{% extends 'admin/layout.html.twig' %}

{% block navigation %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dashboard_index') }}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
                </a>
            </li>
{% endblock %}

{% block content %}


{% endblock %}