{% extends 'base.html.twig' %}

{%  block body %}

    {% include '_includes/navbar.twig.html' %}

    {% block content %}
    <div class="container">
        <h1 class="my-4">Produkte</h1>
        <div class="row">
            {% for tag in tags %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{ tag.name }}</a>
                        </h4>
                        <p class="card-text">{{ tag.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <!-- /.row -->


    </div>
    {% endblock %}
{% endblock %}