{% extends 'base.html.twig' %}

{%  block body %}

    {% include '_includes/navbar.html.twig' %}

    {% block content %}
    <div class="container">
        <h1 class="my-4" align="center">Haupt Tags</h1>
        <section class="topics">
            <div class="container">
                <div class="row">

                    {% for tag in tags %}
                    <div class="col-xl-6 col-md-6">
                        <div class="card card-default">
                            <div class="card-header">
                            <h3><a href="#"><span class="icon icon-circle-o text-blue"></span>{{ tag.name }}</a></h3>
                            </div>
                            <ul class="list">
                                {% for entry in tag.getEntries if entry.active %}
                                <li><a href="{{ path('entry_show', {'id' : entry.id }) }}"> {{ entry.name }} </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- /.row -->


    </div>
    {% endblock %}
{% endblock %}