<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block body %}
    <h1>Hello, world!</h1>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        // Get the modal
        var modal = document.getElementById('id01');


    </script>
    <script>
        $(document).ready(function () {
        $('#login-submit').click(function() {
            let username = $('#username').val();
            let password = $('#password').val();
            let data = JSON.stringify({username: username, password: password});
            $.ajax({
                url: '/login',
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                data: data,
                success: function (response) {
                    // redirect must be defined and must be true
                    if (response.success) {
                        window.location.href = document.URL;
                    }
                },
                error: function() {
                    $('#error').show();
                }
            });
        });
        });

    </script>

    <script>
        $(document).ready(function () {
            $('#password-submit').click(function() {
                let password = $('#password').val();
                console.log(password);
                $.post('/profile/changepassword', {
                    password: password
                }, function (response) {
                        if (response.success) {
                            $('#successpw').show();
                        }
                    },
                    'json'
                );
            });
        });

    </script>
{% endblock %}
</body>
</html>